.app {
    margin: 5%;
    padding: 1%;
    width: 90%;
    height: 90%;
    background-color: #2c2f33;
    font-family: monospace;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}