.pkm-button {
    background-color: #23272a;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.pkm-button:hover {
    color: #7289da;
    font-size: 14px;
    background-color: #23272a;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.pkm-img-background {
    background-color: #202225;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.pkm-text-effect {
    /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); */
    text-shadow: 1px 1px 2px rgb(8, 8, 8), 0 0 1em rgb(245, 245, 245), 0 0 0.2em rgb(255, 255, 255);
}